{% extends 'base.html' %} {% block content %}
{% load static %}



<h1> {{community_profile.name}} </h1>
{% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        {% if user_is_member %}
            <!-- User is a member of the community, show "Leave" button -->
            <button type="submit" class="btn btn-outline-primary" name="follow" value="unfollow" type="submit">
                Joined
            </button>            
        {% else %}
            <!-- User is not a member, show "Join" button -->
            <button type="submit" class="btn btn-primary" name="follow" value="follow" type="submit">
                Join
            </button>
        {% endif %}
    </form>
    <form id="postForm" action="{% url 'create_post' %}" method="POST">     
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Create a Post</button>
    </form>
{% else %}
    <p><a href="{% url 'login' %}">Log in</a> to join this community.</p>
{% endif %}
{% if community_posts %}
    <ul>
        {% for post in community_posts %}
        <li class="card">
            <div class="card-header light-bg text-left">
                <a href="{% url 'user_profile' post.user.username %}">
                    {{ post.user }}
                </a>
            </div>
            <div class="card-body light-bg">
                <a href="{% url 'post_detail' slug=post.slug %}" class="post-link">
                    <h5 class="card-title text-left">
                        {{ post.title }}
                    </h5>
                    <p class="card-text text-left"> {{post.content | safe}} </p>
                </a>
            </div>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No posts in this community yet.</p>
{% endif %}




{% endblock content %}