{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<!-- index.html content starts here -->
<div class="container px-4 text-center">
    <div class="row gx-5">
      <div class="col-md-2">
       <div class="p-3 dark-bg">
            {% if user.is_authenticated %}
            <form id="communityForm" action="{% url 'create_community' %}" method="POST">     
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Create a Community</button>
            </form>
            {% else %}
                <p>Log in to create a community</p>
            {% endif %}
       </div>
      </div>
      <div class="col-md-10">
        <div class="p-3 dark-bg">
            {% for post in post_list%}
            <div class="card">
                <div class="card-header light-bg text-left">
                    <a href="{% url 'community_detail' name=post.community %}" class="post-link">{{ post.community }}</a>
                </div>
                <div class="card-body light-bg">
                    <h5 class="card-title text-left">
                        <a href="{% url 'post_detail' slug=post.slug %}" class="post-link">{{ post.title }}</a>
                    </h5>
                  <p class="card-text text-left"> {{post.content}} </p>
                </div>
            </div>
            {% endfor %}
        </div>
      </div>
    </div>
</div>

<!-- index.html content ends here -->
{% endblock %}

{% block copyright %}
    Copyright 2024 Dhruvesh Prabhakar
{% endblock %}