{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<!-- index.html content starts here -->
 
<div class="container px-4">
    <div class="row gx-5">
      <div class="col-md-10">
        <div class="p-3 blue-bg">
            {% for post in post_list%}
            <div class="card">
                <div class="card-header light-bg text-left">
                    <a href="{% url 'community_detail' name=post.community.name %}" class="post-link">{{ post.community }}</a>
                </div>
                <div class="card-body light-bg">
                    <a href="{% url 'post_detail' slug=post.slug %}" class="post-link">
                        <h5 class="card-title text-left">
                            {{ post.title }}
                        </h5>
                    </a>
                        <p class="card-text text-left">
                            {{ post.content | safe}} 
                        </p>
                </div>
            </div>
            {% endfor %}
        </div>
      </div>
    </div>
</div>

<!-- index.html content ends here -->
{% endblock %}

{% block copyright %}
    Copyright 2024 Dhruvesh Prabhakar
{% endblock %}