{% extends 'base.html' %} {% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Post title goes in these h1 tags -->
                <h1 class="post-title">{{ post.title }}</h1>
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="post-subtitle"><a href="{% url 'user_profile' post.user.username %}">{{ post.user }}</a> | {{ post.created_on }}</p>
            </div>        
            <div class="card-body">
              <!-- We want a for loop inside the empty control tags
                to iterate through each comment in comments -->
              <div>
                {% if user.is_authenticated and post.user == user %}
                  <button class="btn btn-secondary"><a href="{% url 'edit_post' slug=post.slug %}">Edit</a></button>
                  <button class="btn btn-danger btn-delete-post" post_slug="{{ post.slug }}">Delete Post</button>

                {% endif %}
              </div>
            </div>
        </div>
    </div>
</div>

<!-- Delete confirmation modal for posts-->
<div class="modal fade" id="deletePostModal" tabindex="-1"
  aria-labelledby="deletePostModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deletePostModalLabel">Delete post?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your post? This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a id="deletePostConfirm" href="#" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- The post content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text">
                    {{ post.content | safe }}
                </p>
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
      <div class="voting">
        <!-- Upvote Form -->
        <form method="post" action="{% url 'vote_post' post.slug 1 %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Upvote</button>
        </form>

        <!-- Downvote Form -->
        <form method="post" action="{% url 'vote_post' post.slug 0 %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Downvote</button>
        </form>

        <p>Total Votes: {{ post.total_votes }}</p>
      </div>
    {% else %}
        <p><a href="{% url 'login' %}">Log in</a> to vote.</p>
    {% endif %}

    <!-- Displaying count of comments -->
  <div class="row">
    <div class="col-12">
      <strong class="text-secondary">
        <i class="far fa-comments"></i> {{ comment_count }}
      </strong>
    </div>
    <div class="col-12">
      <hr>
    </div>
  </div>

  <!-- Displaying Comments -->
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 ">
      <h3>Comments:</h3>
      <div class="card-body">
        <!-- We want a for loop inside the empty control tags
          to iterate through each comment in comments -->
        {% for comment in comments %}
        <div class="p-2 comments">
          <p class="font-weight-bold">
            {{ comment.user }}<br>
            <span class="font-weight-normal">
              {{ comment.created_on }}
            </span>
          </p>
          <div id="comment{{ comment.id }}">
            {{ comment.body | linebreaks }}
          </div>
          {% if user.is_authenticated and comment.user == user %}
            <button class="btn btn-edit"comment_id="{{ comment.id }}">Edit</button>
            <button class="btn btn-delete-comment"comment_id="{{ comment.id }}">Delete</button>
          {% endif %}
        </div>
        <!-- Our for loop ends here -->
        {% endfor %}
      </div>
    </div>
    <!-- Creating New Comments -->
    <div class="col-md-4 card mb-4 mt-3">
        <div class="card-body">
            {% if user.is_authenticated %}
                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form id="commentForm" method="post"
                    style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button id="submitButton" type="submit"
                    class="btn btn-signup btn-lg">Submit</button>
                </form>
            {% else %}
                <p>Log in to leave a comment</p>
            {% endif %}
        </div>
    </div>
  </div>
</div>

<!-- Delete confirmation modal for comments-->
<div class="modal fade" id="deleteCommentModal" tabindex="-1"
  aria-labelledby="deleteCommentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteCommentModalLabel">Delete comment?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete your comment? This action cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a id="deleteCommentConfirm" href="#" class="btn btn-danger">Delete</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
<script src="{% static 'js/posts.js' %}"></script>

{% endblock %}