{% extends 'base.html' %}

{% block content %}

<div class="container text-left">
  <div class="row">
      <div class="col-md-6 offset-md-2">
          <h1> {{ profile_user.username }} </h1>
          {% if user_posts %}
            {% for post in user_posts%}
              <div class="card">
                  <div class="card-header light-bg text-left">
                      <a href="{% url 'community_detail' name=post.community %}" class="post-link">{{ post.community }}</a>
                  </div>
                  <div class="card-body light-bg">
                      <a href="{% url 'post_detail' slug=post.slug %}" class="post-link">
                        <h5 class="card-title text-left">
                            {{ post.title }}
                        </h5>
                      </a>
                      <p class="card-text text-left"> {{post.content | safe}} </p>
                      
                  </div>
              </div>
            {% endfor %}
          {% else %}
              <p>No posts yet</p>
          {% endif %}
          {% if user.is_authenticated %}
          <h2>Draft Posts</h2>
            {% for post in user_draft_posts %}
              <div class="card">
                <a href="{% url 'edit_post' slug=post.slug %}" class="post-link">
                  <div class="card-header light-bg text-left">
                      {{ post.title }}
                  </div>
                  <div class="card-body light-bg">
                      <p class="card-text text-left"> {{post.content | safe}} </p>
                  </div>
                </a>
              </div>
            {% empty %}
              <li>No drafts yet.</li>
            {% endfor %}
          {% endif %}
      </div>
  </div>
</div>

  
{% endblock %}