a {
    color: #000;
    text-decoration: none;
}

.blue-bg {
    background-color: #004aad;
}

.orange-bg {
    background-color: #f15226;
}

.light-bg {
    background-color: #fff;
}
.blue-t {
    color: #004aad;
}
.orange-m {
    color: #f15226;
}
.post-link {
    text-decoration: none;
    color: #445261;
}
.text-left {
    text-align: left;
}
